<div class="container mt-2">
    <div class="row" *ngIf="isTeacher()">
        <div class="offset-10 col-2">
            <a class="btn btn-success" routerLink="/exam">Create Exam</a>
        </div>
    </div>

    <!-- Content here -->
    <h3>Exams</h3>
    <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Duration</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let exam of exams; let i = index">
            <th scope="row">{{i+1}}</th>
            <td><a routerLink="/exam/{{ exam._id }}">{{ exam.title }}</a></td>
            <td>{{ exam.description }}</td>
            <td>{{ exam.start_date | date: 'short' }}</td>
            <td>{{ exam.end_date | date: 'short' }}</td>
            <td>{{ exam.duration }} min</td>
            <td> <a *ngIf="isStudent()" routerLink="/exam/{{ exam._id }}/start">Start</a></td>
          </tr>
        </tbody>
      </table>
  </div>
